Data/Fonts
Data/Haze
Data/Movies
Data/Scenario
Data/Screens
Data/Script
Data/Sounds
Data/Soundtrack
Data/Sprites
Data/Temp
Data/WaterAnims
Miles
Data
System
Web Links
*.log
BeachLife_original.exe
Readme.htm
sp.bin
*.dll
autorun.exe
autorun.inf
*.bak
*.i64
