Data/Fonts
Data/Haze
Data/Movies
Data/Scenario
Data/Sounds
Data/Soundtrack
Data/Sprites
Data/Temp
Data/WaterAnims
Miles
System
Web Links
*.log
BeachLife_original.exe
Readme.htm
sp.bin
*.dll
autorun.exe
autorun.inf
*.bak
SaveGames
Data/Script/GUI/bleCoder.jar
*.txt
Data/Script/Object
Data/Script/BuildingList.ble
Data/Script/GameParameters.pis
Data/Script/Guests01.ble
Data/Script/Guests02.ble
Data/Script/guests03.ble
Data/Script/Guests04.ble
Data/Script/Guests05.ble
Data/Script/Guests06.ble
Data/Script/Guests07.ble
Data/Script/Guests08.ble
Data/Script/Guests09.ble
Data/Script/Guests10.ble
Data/Script/Guests11.ble
Data/Script/Guests12.ble
Data/Script/SandboxE_guests.ble
Data/Script/SandboxH_Guests.ble
Data/Script/SandboxM_Guests.ble
Data/cursor.tga
Data/pathtiles.ble
Data/text_uk.ble
Data/Screens/FrontScreen_old.tga
Data/Screens/mainmenu_old.tga
Data/Screens/completion0_old.tga
Data/Screens/extrascreen_old.tga
Data/Screens/loading_1_old.tga
Data/Screens/loading_2_old.tga
Data/Screens/scenarioscreen_old.tga
Data/Screens/credits_old.tga
